body { 
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10 px 0;
}
.link {
    color: rgb(0, 128, 53);
    text-decoration: none;
}
.image-container img:first-child {
    border-style: solid;
    border-width: 20px 0px 20px 0px;
}

